<div style="margin-bottom: 110px;">
    <img src="{{ url_for('static', filename='images/assets/flux.svg') }}" alt="rainbow" class="background-image">
    <div class="background-image rainbow" style="border: 1px solid black;">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 1422 800">
            <circle class="circle c1" r="25" cx="1359" cy="37" fill="hsl(242, 69%, 53%)" opacity="0.51"></circle>
            <circle class="circle c2" r="24.5" cx="670" cy="745" fill="hsl(260, 69%, 53%)" opacity="0.84"></circle>
            <circle class="circle c3" r="14.5" cx="198" cy="165" fill="hsl(205, 69%, 53%)" opacity="0.41"></circle>
            <circle class="circle c4" r="41" cx="636" cy="76" fill="hsl(292, 69%, 53%)" opacity="0.60"></circle>
            <circle class="circle c5" r="15" cx="33" cy="234" fill="hsl(225, 69%, 53%)" opacity="0.60"></circle>
            <circle class="circle c6" r="18.5" cx="1072" cy="316" fill="hsl(259, 69%, 53%)" opacity="0.43"></circle>
            <circle class="circle c7" r="23.5" cx="80" cy="675" fill="hsl(215, 69%, 53%)" opacity="0.50"></circle>
            <circle class="circle c8" r="11.5" cx="32" cy="47" fill="hsl(256, 69%, 53%)" opacity="0.21"></circle>
            <circle class="circle c9" r="19.5" cx="223" cy="425" fill="hsl(205, 69%, 53%)" opacity="0.66"></circle>
            <circle class="circle c10" r="35" cx="488" cy="315" fill="hsl(246, 69%, 53%)" opacity="0.41"></circle>
            <circle class="circle c11" r="23" cx="453" cy="553" fill="hsl(242, 69%, 53%)" opacity="0.32"></circle>
            <circle class="circle c12" r="33" cx="1254" cy="575" fill="hsl(298, 69%, 53%)" opacity="0.95"></circle>
            <circle class="circle c13" r="34.5" cx="627" cy="268" fill="hsl(259, 69%, 53%)" opacity="0.97"></circle>
            <circle class="circle c14" r="25.5" cx="1176" cy="128" fill="hsl(279, 69%, 53%)" opacity="0.33"></circle>
            <circle class="circle c15" r="21.5" cx="447" cy="744" fill="hsl(242, 69%, 53%)" opacity="0.49"></circle>
            <circle class="circle c16" r="31.5" cx="906" cy="72" fill="hsl(259, 69%, 53%)" opacity="0.24"></circle>
            <circle class="circle c17" r="18" cx="127" cy="284" fill="hsl(208, 69%, 53%)" opacity="0.87"></circle>
            <circle class="circle c18" r="23" cx="822" cy="468" fill="hsl(261, 69%, 53%)" opacity="0.29"></circle>
            <circle class="circle c19" r="23" cx="974" cy="457" fill="hsl(256, 69%, 53%)" opacity="0.42"></circle>
            <circle class="circle c20" r="22" cx="1088" cy="124" fill="hsl(261, 69%, 53%)" opacity="0.79"></circle>
            <circle class="circle c21" r="22.5" cx="68" cy="441" fill="hsl(215, 69%, 53%)" opacity="0.49"></circle>
            <circle class="circle c22" r="20.5" cx="1124" cy="387" fill="hsl(265, 69%, 53%)" opacity="0.33"></circle>
            <circle class="circle c23" r="35.5" cx="1032" cy="697" fill="hsl(256, 69%, 53%)" opacity="0.53"></circle>
            <circle class="circle c24" r="31" cx="745" cy="630" fill="hsl(261, 69%, 53%)" opacity="0.86"></circle>
            <circle class="circle c25" r="39.5" cx="1187" cy="719" fill="hsl(279, 69%, 53%)" opacity="0.29"></circle>
            <circle class="circle c26" r="30.5" cx="1223" cy="228" fill="hsl(292, 69%, 53%)" opacity="0.43"></circle>
            <circle class="circle c27" r="12" cx="93" cy="161" fill="hsl(213, 69%, 53%)" opacity="0.47"></circle>
        </svg>
    </div>
</div>
<div class="overlay"></div>
<header class="scrolled">
    <nav class="container">
        <div class="logo">
            <a href="/" class=""><img src="{{ url_for('static', filename='images/logo/nelston_logo.png') }}" alt="Nelston Logo" width="80px"></a><span>NELSTON</span>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="register" class="nav-link">Register</a>
                </li>
                <li>
                    <a href="#services" class="nav-link">Services</a>
                </li>
                <li>
                    <a href="#portfolio" class="nav-link">Portfolio</a>
                </li>
                <li>
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <div class="projects">
                <a href="/logout" class="nav-link">Log out</a>
            </div>
            <i class="uil uil-sun toggle-btn"></i>
        </div>
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>
</header>